<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Navigation</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 100;
      }

      .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        max-width: 400px; /* Adjust the maximum width as needed */
        margin: auto;
        text-align: center;
      }

      /* Styles for the close button */
      .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }
      form label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
      }

      form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

      form button {
        padding: 8px;
        margin-top: 8px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .fa-stack[data-count]:after {
        position: absolute;
        right: 0%;
        top: 0%;
        content: attr(data-count);
        font-size: 45%;
        padding: 0.3em;
        border-radius: 999px;
        line-height: 1.4em;

        color: white;
        text-align: center;
        min-width: 1.4em;
        font-weight: bold;
        background: #47754b;
        border-style: solid;
      }
      .fa-circle {
        color: #47754b;
      }

      .red-cart {
        color: white;
        background: #47754b;
      }
    </style>
  </head>

  <body>
    <header>
      <img style="height: 50px; width: 50px" src="/logo.png" alt="Logo" />
      <div class="menu-icon" onclick="toggleNav()">&#9776;</div>
      <!-- Inside the nav element -->
      <nav>
        <div class="close-btn" onclick="toggleNav()">&#10006;</div>
        <a href="/seller">Home</a>

        <a href="/seller/company">Company</a>
        <a href="/seller/allProduct">Products</a>
        <a id="loginLink" href="/seller/loginPage">Login</a>
        <a href="/seller/cart">
          <span
            class="fa-stack fa-stack-3x has-badge"
            id="cartbadge"
            data-count="0"
          >
            <i class="fa fa-circle fa-stack-3x fa-inverse"></i>
            <i class="fa fa-shopping-cart fa-stack-2x red-cart"></i> </span
        ></a>

        <a id="profileLink" onclick="location.href='/seller/UserProfile'"
          ><i class="fa-solid fa-user"></i
        ></a>
      </nav>
    </header>
    <!-- <script src="/js/user/header.js"></script> -->
    <script>
      function toggleNav() {
        var nav = document.querySelector("nav");
        nav.classList.toggle("menu-open");
      }
      const fetchData = async () => {
        try {
          const response = await fetch("/seller/navprofile");

          if (response.ok) {
            const data = await response.json();
            console.log("Server response:", data.message);
            console.log(data.cartCount);
            const cart = data.cartCount;
            const cartBadge = document.querySelector("#cartbadge");
            cartBadge.dataset.count = cart;
            loginLink.style.display = "none";
            profileLink.style.display = "inline";
          } else {
            console.log("Token not found on the server");
            // console.log(cartCount);
            const cart = 0;
            const cartBadge = document.querySelector("#cartbadge");
            cartBadge.dataset.count = cart;
            loginLink.style.display = "inline";
            profileLink.style.display = "none";
          }
        } catch (error) {
          console.error("Error fetching data:", error);
          const cart = 0;
          const cartBadge = document.querySelector("#cartbadge");
          cartBadge.dataset.count = cart;
        }
      };
      fetchData();
    </script>
  </body>
</html>
