<link rel="stylesheet" href="/css/user/footer.css" />
<footer>
  <div class="container-footer">
    <div class="footer-section">
      <h2>Company Address</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea,
        reprehenderit?Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Iure, ad.
      </p>
    </div>

    <div class="footer-section">
      <h2>Contacts</h2>
      <ul>
        <p>Address: abc def ghi</p>
        <li>Email: iabc.com</li>
        <li>Phone: xxxxxxxxxx</li>
        <li><i class="fab fa-whatsapp"></i> : xxxxxxxxxx</li>
        <li class="social-icons">
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="#" target="_blank"><i class="fab fa-google"></i></a>
        </li>
      </ul>
    </div>

    <div class="footer-section">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/user">Home</a></li>
        <!-- <li><a href="/user/company">Company Us</a></li> -->
        <li><a href="/user/products">Products</a></li>
        <li><a href="/user/signupPage">Sign-Up</a></li>
        <li><a href="/user/loginPage">Login</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; Saarthi Pvt. Ltd. - 2020, All Rights Reserved.</p>
  </div>
</footer>
